/**
 * TODO:
 * - Do we need z-index?
 */

// Settings
$toggleBtn-width: 4.5em;
$nav-height: 3em;
$nav-zIndex: 800;
$nav-item-margin: 1.5em;
$nav-list-width: 70%;
$link-color: #fff;

// Partials
@import "scss-partials/base";
@import "scss-partials/header";

.nav-container {
}
.nav {
    display: block;
    margin: $nav-height 0 0;
    text-align: center;
}
.nav.closed {
    height: 0;
}
.nav--closed {
    display: none;
}
.nav-list {
    float: none;
    position: absolute;
    top: 0;
    right: $toggleBtn-width + $nav-item-margin;
    z-index: $nav-zIndex;
    width: $nav-list-width;
    margin: 1em 0;
    text-align: right;
}
.nav-list .nav-item {
    display: inline-block;
    margin-left: $nav-item-margin;
}
.nav-toggle {
    position: absolute;
    right: 0;
    top: 1em;
    width: $toggleBtn-width;
    color: $link-color;
}
.nav-toggle:hover {
    text-decoration: none;
}
.nav-toggle.nav-toggle--open {
}
.nav-dropdown {
    position: static;
    z-index: $nav-zIndex;
    margin: 0;
    padding: 0.5em 0;
}
.nav-dropdown .nav-item {
    padding: 0.25em 0;
}
.nav-item {
    display: block;
    list-style: none;
}
.nav-link,
.nav-item-link {
    color: $link-color;
}
.nav-link.current,
.current.nav-item-link {
}
.nav-link:hover,
.nav-item-link:hover {
    text-decoration: none;
}
.nav-item-link {
    display: inline-block;
}



/*------------*/
/* RESPONSIVE */
/*------------*/

@media (min-width: 60em) {
    .nav-list {
        right: $toggleBtn-width + $nav-item-margin;
    }
    .nav-dropdown {
        position: absolute;
        top: 4.75em;
        right: 0;
        z-index: $nav-zIndex;
        padding: 0 1.25em 1.25em;
        background: #1B4B66;
    }
}

@media (min-width: 74.1875em) {
    .nav {
        margin-top: 1em;
        text-align: right;
    }
    // TODO: Making the "closed" dropdown work like the main nav is a bit awkward... Why not just use the main nav?
    .nav--closed {
        display: block;
    }
    // Assuming all inline list items have been moved to the nav-list by now
    .nav-list,
    .nav-toggle {
        display: none;
    }
    // Make the dropdown look like the main list now
    .nav-dropdown {
        position: static;
        right: auto;
        top: auto;
        margin: 0.75em;
        padding: 0;
    }
    .nav-item {
        display: inline;
        margin-right: $nav-item-margin;
    }
    .nav-item:last-child {
        margin-right: 0;
    }
}
