// Settings
$toggleBtn-width: 3em;
$nav-marginRight: 6em;
$nav-listInline-width: 60%;

// Partials
@import "scss-partials/header";
@import "scss-partials/footer";
@import "scss-partials/hero";

// Base
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// Nav
.nav-container {
    font-family: 'Gotham A', 'Gotham B', sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 0.25em;
}
.nav {
    max-height: 20em;
    display: block;
    text-align: center;
    margin: auto 0;
    background-color: #1B4B66;
    margin-top: 4em;
}
.nav.closed {
    height: 0;
    max-height: 0;
}
.nav_closed {
    display: none;
}
.nav-list_inline {
    // TODO: Where does this width come from?
    width: $nav-listInline-width;
    float: none;
    padding: 0;
    position: absolute;
    text-align: right;
    top: 0em;
    right: 0em;
    z-index: 800;
}
.nav-list_inline .nav--item {
    margin-right: 1.5em;
    font-size: 0.8125em;
    display: inline-block;
}
.nav-toggle {
    position: absolute;
    right: 1em;
    top: 1.75em;
    color: white;
    padding-right: 2em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid white;
    font-size: 0.8125em;
}
.nav-toggle:hover {
    text-decoration: none;
}
.nav-toggle.nav-toggle_open {
    background-position: right top;
    color: #B89267;
    border-color: #B89267;
}
.nav-list {
    margin: 0;
    padding: 0.5em 0;
    position: static;
    z-index: 800;
}
.nav-list .nav--item {
    padding: 0.25em 0;
}
.nav--item {
    list-style: none;
    display: block;
}
.nav-link, .nav--item-link {
    color: white;
}
.nav-link.current, .current.nav--item-link {
    color: #B89267;
    border-bottom: 1px solid #B89267;
}
.nav-link:hover, .nav--item-link:hover {
    color: #00a3ad;
    text-decoration: none;
}
.nav--item-link {
    padding: 0.55em 0 0.25em 0;
    display: inline-block;
}

// Icons
.icon-arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    background-size: contain;
    right: 0;
    top: 2px;
}



/*------------*/
/* RESPONSIVE */
/*------------*/

// TODO: Remove right position when toggle disappears
.nav-list_inline {
    right: $nav-marginRight;
}

@media (min-width: 60em) {
    .nav-container {
        margin: 0;
    }
    .nav {
        margin-top: 0;
    }
    .nav-list_inline {
        right: $toggleBtn-width + $nav-marginRight;
    }
    .nav-toggle {
        right: $nav-marginRight;
    }
    .nav-list {
        background: #1B4B66;
        background: rgba(27, 75, 102, 0.3);
        position: absolute;
        right: 4em;
        top: 3.25em;
        padding: 1.25em 1.25em;
        border-radius: 8px;
        border: 2px solid #F2F5F4;
        z-index: 800;
    }
}

@media (min-width: 74.1875em) {
    .nav-container {
        float: right;
        // float: left;
        // width: 75%;
        // margin-right: 5%;
    }
    .nav {
        margin-top: 1em;
        text-align: right;
    }
    .nav_closed {
        display: block;
    }
    .nav-list_inline {
        top: 1.75em;
        // TODO: Why is this here? Assuming all inline list items should've moved to navList by now.
        display: none;
    }
    .nav-toggle {
        display: none;
    }
    .nav-list {
        margin-top: 0.75em;
        background-color: transparent !important;
        position: static;
        right: auto;
        top: auto;
        padding: 0;
        margin: 0.75em;
        border: 0 none;
    }
    .nav--item {
        display: inline;
        font-size: 0.8125em;
        margin-right: 1.5em;
    }
    .nav--item:last-child {
        margin-right: 0;
    }
}
