// Settings
$toggleBtn-width: 4.5em;
$nav-height: 3em;
$nav-item-margin: 1.5em;
$nav-list-width: 70%;

// Partials
@import "scss-partials/header";
@import "scss-partials/footer";
@import "scss-partials/hero";

// Base
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

// Nav
.nav-container {
}
.nav {
    display: block;
    margin: $nav-height 0 0;
    max-height: 20em;
}
.nav.closed {
    height: 0;
    max-height: 0;
}
.nav--closed {
    display: none;
}
.nav-list {
    // TODO: Where does this width come from?
    width: $nav-list-width;
    float: none;
    position: absolute;
    top: 0;
    right: $toggleBtn-width + $nav-item-margin;
    z-index: 800;
    margin: 1em 0;
    padding: 0;
    text-align: right;
}
.nav-list .nav-item {
    display: inline-block;
    margin-left: $nav-item-margin;
}
.nav-toggle {
    position: absolute;
    right: 0;
    top: 1em;
    width: $toggleBtn-width;

    // Skin
    color: #fff;
}
.nav-toggle:hover {
    text-decoration: none;
}
.nav-toggle.nav-toggle--open {
}
.nav-dropdown {
    margin: 0;
    padding: 0.5em 0;
    position: static;
    z-index: 800;
}
.nav-dropdown .nav-item {
    padding: 0.25em 0;
}
.nav-item {
    list-style: none;
    display: block;
}
.nav-link, .nav-item-link {
    color: #fff;
}
.nav-link.current, .current.nav-item-link {
}
.nav-link:hover, .nav-item-link:hover {
    text-decoration: none;
}
.nav-item-link {
    // padding: 0.55em 0 0.25em 0;
    display: inline-block;
}

// Icons
.icon-arrow {
    position: absolute;
    width: 14px;
    height: 14px;
    background-size: contain;
    right: 0;
    top: 2px;
}



/*------------*/
/* RESPONSIVE */
/*------------*/

@media (min-width: 60em) {
    .nav-list {
        right: $toggleBtn-width + $nav-item-margin;
    }
    .nav-dropdown {
        background: #1B4B66;
        background: rgba(27, 75, 102, 0.3);
        position: absolute;
        right: 4em;
        top: 3.25em;
        padding: 1.25em 1.25em;
        border-radius: 8px;
        border: 2px solid #F2F5F4;
        z-index: 800;
    }
}

@media (min-width: 74.1875em) {
    .nav-container {
        float: right;
    }
    .nav {
        margin-top: 1em;
        text-align: right;
    }
    .nav--closed {
        display: block;
    }
    .nav-list {
        top: 1.75em;
        // TODO: Why is this here? Assuming all inline list items should've moved to nav-list by now.
        display: none;
    }
    .nav-toggle {
        display: none;
    }
    .nav-dropdown {
        margin-top: 0.75em;
        position: static;
        right: auto;
        top: auto;
        padding: 0;
        margin: 0.75em;
        border: 0 none;
    }
    .nav-item {
        display: inline;
        margin-right: $nav-item-margin;
    }
    .nav-item:last-child {
        margin-right: 0;
    }
}
