.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
    width: 100%;
    background-color: #1B4B66;
}
.header-content {
    -webkit-transition: 0.35s ease;
    transition: 0.35s ease;
    padding: 0;
}
.header-wrapper {
    position: relative;
    padding: 0 1.25em;
}



.site-title {
    float: left;
    line-height: 3em;
}
.site-title--link {
    color: $link-color;
}



/*------------*/
/* RESPONSIVE */
/*------------*/

@media (min-width: 60em) {
    .header-content {
        padding: 1.75em 0;
    }
}
